@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

header {
  background: #222;
  padding: 20px 100px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  transition: 0.3s;
}

header nav a.btn {
  padding: 5px;
  border: 1px solid silver;
  border-radius: 5px;
}

header nav a:hover {
  color: #a1a1a1;
}

header nav a.btn:hover {
  border-color: #8efbff;
}

footer {
  float: left;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background: #222;
  padding: 30px;
  color: #fff;
  margin-top: 100px;
}

main {
  float: left;
  margin-top: 50px;
  margin-left: 50px;
  width: 50%;
}

aside {
  float: right;
  margin-top: 50px;
  margin-right: 100px;
  width: 400px;
}

aside .info {
  background: #ffc007;
  color: #434143;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  line-height: 140%;
  border-radius: 5px;
}

aside .info h2 {
  margin-bottom: 20px;
}

aside .info img {
  width: 100%;
  border: 5px solid #fff;
  box-sizing:border-box;
  border-radius: 5px;
  margin-top: 30px;
}

form {
  margin: 30px 0;
}

form input, form textarea {
  resize: vertical;
  display: block;
  margin-bottom: 5px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 10px;
  border: 1px solid silver;
  font-family:'Montserrat', sans-serif ;
  padding: 0 10px;
  box-sizing: border-box;
}

form button {
  width: 50%;
  margin: 0 auto;
  height: 50px;
  font-size: 25px;
  border-radius: 10px;
  background-color: #ffc007;
  color: blanchedalmond;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover, .post a:hover {
  background-color: blanchedalmond;
  color: #ffc007;
}

.error_msg {
  color: red;
  margin: 10px 0;
  font-weight: 600;
  display: none;
}

.user_block {
  width: 100%;
  height: 60px;
  background-color: #ffc007;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0 30px;
  box-sizing: border-box;
  border-radius: 10px;
}

.user_info {
  display: flex;
  gap: 20px;
}

.user_info h3 {
  font-weight: 200;
}

.delete_user {
  height: 70%;
  width: 100px;
  background-color: #d46060;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  transition: 0.3s;
}

.delete_user:hover {
  background-color: darkred;
}

.post {
  margin-top: 20px;
}

.post h2 {
  margin-bottom: 10px;

}

.post .author {
  margin-top: 15px;
  font-weight: 600;
}

.post .author span {
  background-color: #ffc007;
  padding: 2px 7px;
  font-weight: 300;
  border-radius: 2px;
}

.post a {
  text-decoration: none;
  display: block;
  margin-top: 20px;
  width: 100px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ffc007;
  color: #434143;
  transition: 0.3s;
  text-align: center;
}

.comment {
  width: 100%;
  background-color: #ffc007;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #434143;
  margin-top: 20px;
}